$green: #66CD00;

.jumbotron {
  background-color: black;
  padding: 70px;
}

#title {
  font-size: 100px;
  text-align: right;
}

#github {
  color: white;
}

#api {
  font-size: 100px;
  text-align: right;
  color: $green;
}

#octocat {
  width: 180px;
  float: left;
  margin: -20px;
}

#searchButton {
  margin-top: -30px;
}

#results {
  display: none;
}

#inputBox, #userInput, #joinDate {
  font-size: 11px;
}

#userImage {
  width: 200px;
}

dl {
  font-size: 11px;
  float:right;
  padding-right: 300px;
  margin-top: -30px;
}
