$green: #66CD00;

.jumbotron {
  background-color: black;
  padding: 70px;
  font-family: Rubik Mono One;
}

body {
  background-color: #292929;
  color: white;
}

#title {
  font-size: 100px;
  text-align: right;
}

#github {
  color: white;
}

.header {
  text-align: center;
}

#api {
  font-size: 100px;
  text-align: right;
  color: $green;
}

#octocat {
  width: 180px;
  float: left;
  margin: -20px;
}

#searchButton {
  margin-top: -30px;
}

#results {
  display: none;
}

#inputBox, #userInput, #joinDate, #repoInfo {
  font-size: 11px;
}

#inputBox {
  color: black;
}

#userImage {
  width: 200px;
}

dl {
  font-size: 11px;
  margin-top: -30px;
}

#greenText {
  color: $green;
}

a {
  color: #97D955;
}

.btn-success {
  background-color: $green;
}

a:hover {
  color: $green;
}
